body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;
    background-color: black;
}

.card {
    width: 25vw;
    height: 50vh;
    padding: 30px;
    text-align: center;
    background-color: wheat;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgb(69, 20, 20);
}

h1 {
    font-size: 25px;
    color: rgb(69, 20, 20);
    font-weight: 900;
}
p {
    font-size: 20px;
    color: #222;
    font-weight: 500;
}

#count-display {
    font-size: 70px;
    font-weight: bold;
    color: white;
    background-color: #222;
    border-radius: 7px;
    margin: 25px 0;
}

.buttons,
.steps-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: white;

}

button {
    padding: 10px 18px;

    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgb(31, 1, 1);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

.steps-buttons button {
    background-color: rgb(31, 1, 1);
    color: white;
}