* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;
    background-color: black;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 90%;
    max-width: 400px;
    min-height: 400px;

    padding: 40px;
    text-align: center;
    background: linear-gradient(270deg, rgb(104, 10, 10), wheat,rgb(69, 20, 20));
    border-radius: 15px;
    box-shadow: 0 5px 20px rgb(69, 20, 20);
}

h1 {
    font-size: 30px;
    color: rgb(69, 20, 20);
    border-radius: 10px;
    background-color: wheat;
    font-weight: 800;
    border: 1px solid brown;
}

p {
    font-size: 20px;
    color: rgb(104, 10, 10);
    font-weight: 500;
}

#count-display {
    font-size: 70px;
    font-weight: bold;
    color: white;
    background-color: #222;
    border-radius: 7px;
    margin: 25px 0;
}

.buttons,
.steps-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: white;
}

button {
    padding: 10px 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgb(31, 1, 1);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

.steps-buttons button {
    background-color: rgb(31, 1, 1);
    color: white;
}


/* SMALL SCREENS */
@media (max-width: 600px) {
    .card {
        width: 100%;
        padding: 20px;
        margin: 20px;
    }

    #count-display {
        font-size: 55px;
    }

    button {
        padding: 10px 12px;
    }
}